.sec5-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #787cd1;
}
.sec5-main-container > h1 {
  color: white;
  font-size: 3rem;
}
.card-carousel {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5%;
}
.pagination {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin-top: 5%;
}
.pagination > p {
  cursor: pointer;
}
@media screen and (max-width: 1025px) {
  .card-carousel {
    width: 100%;
  }
  .pagination {
    width: 25%;
  }
}
