.sec3-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(48, 43, 112);
  padding: 5%;
}
.sec3-main-container > h1 {
  color: white;
  font-weight: 400;
}
.sec3-main-container > p {
  color: white;
  font-weight: 200;
  width: 40%;
  text-align: center;
}
.sec3-img-container {
  display: flex;
  margin-top: 5%;
}
.sec3-img {
  height: 400px;
}
.sec3-download {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}
.sec3-download > h3 {
  color: white;
  font-weight: 200;
}
.sec3-download > p {
  color: rgb(120, 124, 209);
}
.sec3-img-con {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .sec3-img {
    height: 225px;
  }
  .sec3-main-container > p {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .sec3-app-img {
    width: 135px;
    margin-left: 10px;
  }
  .sec3-img {
    height: 150px;
  }
}
@media screen and (max-width: 290px) {
  .sec3-app-img {
    width: 100px;
    margin-left: 10px;
  }
  .sec3-img {
    height: 100px;
  }
}
